/*********************************************************************************************

1.  Default / for Grid 1200px           
2.  960px 
3.  720px
4.  lt 720px 

**********************************************************************************************/

/* 
Urnge: #f5821f
Azure: #01b3e3
dGrey: #888182
lGrey: #d4cbcd
 */

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
    box-sizing: inherit;
}
img {
    box-sizing: content-box;
}
img.scale, img.responsive {
    max-width: 100%;
    height: auto;
}
ul {
    list-style-type: none;
    padding: 0;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16 {
    display: inline;
    float: left;
}
.grid-12 {
    width: 100%}
.grid-9 {
    width: 75%}
.grid-8 {
    width: 66.666%}
.grid-6 {
    width: 50%}
.grid-4 {
    width: 33.333%}
.grid-3 {
    width: 25%}

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


/* PADDING CLASS FOR GRID-6 ONLY ========================= */
 
.padding {
	padding-top: 40px;
	padding-bottom: 40px;
}

.padding:nth-child(odd) {
	padding-right: 3.51515%;
}

.padding:nth-child(even) {
	padding-left: 3.51515%;
}


@media only screen and (max-width: 1220px)  { .padding:nth-child(odd), .padding:nth-child(even) { padding-right: 1.51515%; padding-left: 1.51515%; } }

/* PADDING CLASS FOR GRID-6 ONLY ========================= */


/* PADDING CLASS FOR GRID-4 IN THE FOOTER ONLY ========================= */
 


.padding-f:nth-child(even) {
	padding-right: 3.51515%;
}

.padding-f:nth-child(odd) {
	padding-left: 0.51515%;
}


@media only screen and (max-width: 1220px)  { .padding-f:nth-child(odd), .padding-f:nth-child(even) { padding-right: 1.51515%; padding-left: 1.51515%; } }

/* PADDING CLASS FOR GRID-6 ONLY ========================= */



.wrap p {
	color: #898282;
	font-family: 'Century Gothic';
	font-size: 16px;
}


hr {
    border: none;
    outline: none;
    margin: 0 auto;
}
/********************************************************************************************* 

1.  Default / for Grid 1200px             

*********************************************************************************************/  

@font-face {
    font-family: 'Century Gothic';
    src: url('../font/century_gothic.eot');
    src: url('../font/century_gothic.eot?#iefix') format('embedded-opentype'), url('../font/century_gothic.svg#Century Gothic') format('svg'), url('../font/century_gothic.woff') format('woff'), url('../font/century_gothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Century Gothic Bold';
    src: url('../font/century_gothic_bold.eot');
    src: url('../font/century_gothic_bold.eot?#iefix') format('embedded-opentype'), url('../font/century_gothic_bold.svg#Century Gothic Bold') format('svg'), url('../font/century_gothic_bold.woff') format('woff'), url('../font/century_gothic_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Century Gothic', sans-serif;
}
a:link, a:visited {
    text-decoration: none;
    color: #f5821f;
}
a:hover, a:active {
}
a.button {
    text-transform: uppercase;
    font-family: 'Century Gothic Bold';
    font-size: 10px;
    padding: 3px 16px;
    border: 2px solid #f5821f;
}
header {
    padding-bottom: 16px;
}
#topnav {
    text-align: right;
    height: 42px;
    padding: 10px 30px;
    cursor: default;
    position: relative;
    z-index: 100;
}
#topnav a.button {
    border-color: #888182;
    color: #888182;
    margin-right: 16px;
}
#topnav a.button:hover {
    background-color: #888182;
    color: #fff;
}
#topnav i {
    width: 22px;
    height: 22px;
    margin-left: 2px;
    border-radius: 11px;
    border: 1px solid #f5821f;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}
#topnav a:hover i {
    color: #fff;
    background-color: #f5821f;
}
header h1, .f-gav {
    font-size: 27px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #d4cbcd;
    padding-left: 30px;
    margin-top: 0;
}

.f-gav {
  color: #fff;
  padding-right: 15px;
  margin-top: 30%;
}

header h1 em, .f-gav em {
    font-style: normal;
    font-size: 72px;
    color: #888182;
    text-transform: lowercase;
    letter-spacing: normal;
    font-family: 'Century Gothic Bold';
    font-weight: 100;

}

.f-gav em {
	color: #fff;
}

header h1 sup, .f-gav sup {
    font-size: 11px;
    letter-spacing: normal;
    vertical-align: 27px;
    margin-right: -16px;
}
nav ul {
    margin: 56px 30px 0 0;
    float: right;
}
nav ul li {
    float: left;
    margin-left: 20px;
}
@media only screen and (max-width: 1025px)  { nav ul li { margin-left: 15px; } }
@media only screen and (max-width: 995px)  { nav ul li { margin-left: 13px; } }
@media only screen and (max-width: 975px)  { header h1 { width: 45% !important; } nav ul { margin: 55px -20px 0 0; float: right; } }
@media only screen and (max-width: 900px)  { header h1 { width: 99% !important; margin-top: 15px !important; margin-bottom: 40px; text-align: center; padding-right: 30px; } nav ul { width: 100%; text-align: center; float: none; } nav ul li { margin-left: 24px; float: none; display: inline-block; } }



nav ul li:first-child {
    margin-left: 0;
}
nav ul li a {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Century Gothic Bold';
}
nav ul li a:hover {
    color: #888182;
}
#video {
    position: relative;
}
#video div {
    position: absolute;
    text-align: center;
    top: 20%;
    z-index: 110;
}
#video h2 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 38px;
    line-height: 60px;
    font-family: 'Century Gothic Bold';
    color: #fff;
    background-color: rgba(0, 179, 227, .5);
    height: 64px;
    margin: 40px 0;
    padding: 0 18px;
}
#video h2 br {
    display: none;
}
#video a.pause {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 500;
}
#video i {
    width: 42px;
    height: 42px;
    color: #fff;
    border-radius: 21px;
    border: 3px solid #fff;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
}
#video a.pause:hover i {
    color: #ddd;
    border-color: #ddd;
}
div#driving-action {
    margin: 6px 0 60px 0;
    border-top: 4px solid #d4cbcd;
    position: relative;
    text-align: center;
    z-index: 550;
}
div.halfcircle {
    height: 70px;
    width: 140px;
    margin: -10px auto 0 auto;
    border-radius: 0 0 140px 140px;
    -moz-border-radius: 0 0 140px 140px;
    -webkit-border-radius: 0 0 140px 140px;
    background: #fff;
}
div.circle {
    height: 120px;
    width: 120px;
    margin: -130px auto 0 auto;
    border-radius: 120px;
    -moz-border-radius: 120px;
    -webkit-border-radius: 120px;
    background: #f5821f;
    text-align: center;
    position: relative;
}
div.circle i {
    color: #fff;
    font-size: 60px;
    position: relative;
    top: 25%;
}
div#driving-action h2, div#driving-action hr, div#driving-action p, div#driving-action a.button, div#more-work a.button, div#g-work a.button {
    opacity: 0;
}
div#driving-action h2 {
    font-size: 24px;
    color: #01b3e3;
    text-transform: uppercase;
    margin-top: 68px;
}
div#driving-action h2 span {
    font-size: 82px;
    display: block;
    color: #f5821f;
}
div#driving-action hr {
    margin-top: 24px;
    color: #d4cbcd;
    background-color: #d4cbcd;
    width: 260px;
    height: 8px;
}
div#driving-action p {
    font-size: 30px;
    padding: 0 130px;
    color: #888182;
}
div#ll-button, div#ll-button-work, div#abox {
    margin: 0 auto;
    margin-bottom: -82px;
    width: 294px;
    height: 80px;
}
div#driving-action a.button, div#more-work a.button {
    font-size: 23px;
    padding: 24px 0;
    display: inline-block;
    border: 2px solid transparent;
    width: 294px;
    height: 80px;
}

div#g-work a.button {
  font-size: 23px;
  padding: 24px 0;
  display: inline-block;
  border: 2px solid transparent;
  width: 297px;
  height: 84px;
  margin-top: -2px;
}

div#abox {
  margin: 0;
  margin-bottom: -82px;
}

div#more-work a.button, div#g-work a.button {
	color: #01b3e3;
}


div#g-work a.button {
	text-align: center;
}

div#driving-action a.button:hover, div#more-work a.button:hover, div#g-work a.button:hover  {
    background-color: #888182;
    color: #fff;
}
div#blocks {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
@media only screen and (min-width: 800px) and (max-width: 1199px) {
    div#blocks {
    max-width: 800px;
}
}
@media only screen and (min-width: 400px) and (max-width: 799px) {
    div#blocks {
    max-width: 400px;
}
}
div#blocks a > div {
    height: 400px;
    width: 400px;
    float: left;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    display: table;
    position: relative;
}
div#blocks div div {
    color: #fff;
    font-size: 40px;
    font-family: 'Century Gothic Bold';
    display: table-cell;
    vertical-align: middle;
}
div#blocks hr {
    height: 6px;
    width: 200px;
    color: #fff;
    background-color: #fff;
    margin-bottom: 12px;
}
div#blocks p {
    margin: 0;
    text-transform: uppercase;
}
div#blocks span {
    display: none;
}
@media only screen and (max-width: 400px) {
    div#blocks a > div {
    width: 100%;
    height: 0;
    padding-top: 100%;
    float: none;
    display: block;
}
div#blocks div div {
    display: block;
    margin: -55% 0 0 0;
}
}
div#martins {
    background-image: url('../img/GVN.HomePage.Martins.jpg');
    background-color: #d22427;
}
div#trespa {
    background-image: url('../img/GVN.HomePage.Trespa.jpg');
    background-color: #fbda19;
}
div#truenorth {
    background-image: url('../img/GVN.HomePage.TrueNorth.jpg');
    background-color: #1060ab;
}
div#gig {
    background-image: url('../img/GVN.HomePage.GHP.jpg');
    background-color: #6C6C6C;
}
div#acnb {
    background-image: url('../img/GVN.HomePage.ACNB.jpg');
    background-color: #00437D;
}
div#kyw {
    background-image: url('../img/GVN.HomePage.KYW.jpg');
    background-color: #148E50;
}
div#mini {
    background-image: url('../img/GVN.HomePage.Mini.jpg');
    background-color: #D9AC2F;
}
div#yti {
    background-image: url('../img/GVN.HomePage.YTI.jpg');
    background-color: #EB6A4D;
}
div#peoplesbank {
    background-image: url('../img/GVN.HomePage.Peoples.jpg');
    background-color: #A61F38;
}
div.block {
    background: url('../img/block.jpg') no-repeat;
}
div#blocks a:hover > div {
    background-image: none;
    text-align: left;
}
div#blocks a:hover > div div {
    vertical-align: top;
    padding-left: 36px;
    padding-right: 36px;
}
div#blocks a:hover p {
    font-size: 14px;
    position: absolute;
    left: 36px;
    top: 36px;
}
div#blocks a:hover span {
    display: block;
}
div#blocks a:hover hr {
    width: 100%;
    margin-top: 70px;
}

@media only screen and (max-width: 400px)  { div#blocks a:hover hr { width: 100%; position: relative; margin-top: -340px; } }


/* EMPLOYEE BLOCK STYLES ************************************************************************************************

*********************************************************************************************************************** */


div#blocks-em {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
@media only screen and (min-width: 800px) and (max-width: 1199px) {
    div#blocks-em {
    max-width: 800px;
}
}
@media only screen and (min-width: 400px) and (max-width: 799px) {
    div#blocks-em {
    max-width: 400px;
}
}
div#blocks-em a > div {
    height: 400px;
    width: 400px;
    float: left;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: left;
    display: table;
    position: relative;
}
div#blocks-em div div {
    color: #fff;
    font-size: 40px;
    font-family: 'Century Gothic Bold';
    display: table-cell;
  vertical-align: top;
  padding-left: 36px;
  padding-right: 36px;
}
div#blocks-em hr {
    height: 6px;
      width: 100%;
  margin-top: 70px;
    color: #fff;
    background-color: #fff;
    margin-bottom: 12px;
}
div#blocks-em p {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  position: absolute;
  left: 36px;
  top: 36px;
}

@media only screen and (max-width: 400px) {
    div#blocks-em a > div {
    width: 100%;
    height: 0;
    padding-top: 100%;
    float: none;
    display: block;
}
div#blocks-em div div {
    display: block;
    margin: -55% 0 0 0;
}
}



div#mandy {
    background-image: url('../img/mandy_arnold_gavin_advertising.jpg');
    
}

div#tracey {
    background-image: url('../img/tracey_johnston_gavin_advertising.jpg');
    
}

div#aimee {
    background-image: url('../img/aimee_gochnauer_gavin_advertising.jpg');
    
}

button.bio {
  font-size: 20px;
  background-color: transparent;
  border: 2px solid;
  display: block;
  position: absolute;
  bottom: 20px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  transition:all 0.5s ease;
}


.orange:hover button.bio {
  background-color: #fff;
  color: #f5821f;
}


.blue:hover button.bio {
  background-color: #fff;
  color: #00b3e4;
}


.gray:hover button.bio {
  background-color: #fff;
  color: #D5CCCD;
}



@media only screen and (max-width: 400px)  { div#blocks-em hr { width: 100%; position: relative; margin-top: -340px; } }



/* EMPLOYEE BLOCK STYLES ************************************************************************************************

*********************************************************************************************************************** */






div#more-work {
  margin: 50px 0 50px 0;
  position: relative;
  text-align: center;
}

div#what-we-do, div#who-we-work-with, div#lets-connect  {
	background-color: #f5821f;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}

div#what-we-do h2, div#who-we-work-with h2, div#lets-connect h2 {
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
}

div#what-we-do h2 span, div#who-we-work-with h2 span, div#lets-connect h2 span {
  font-size: 82px;
  display: block;
}
@media only screen and (max-width: 550px)  { div#what-we-do h2 span, div#who-we-work-with h2 span, div#lets-connect h2 span  { font-size: 35px; } }


div#what-we-do hr, div#who-we-work-with hr, div#lets-connect hr  {
  margin-top: 24px;
  color: #fff;
  background-color: #fff;
  width: 260px;
  height: 8px;
}


h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  font-family: 'Century Gothic';
  font-size: 23px;
  color: #01b3e3;
}
@media only screen and (max-width: 770px)  { h3 { font-size: 19px; } }

div#who-we-work-with {
	background-color: #888182;
}

div#lets-connect {
	background-color: #01b3e3;
}

div#reg_mark {
  margin: 0 auto;
}


div#mega {
  margin: 0 auto;
  width: 100px !important;
  height: 80px !important;
}

.home-ctas p {
  min-height: 150px;
}
@media only screen and (max-width: 770px)  { .home-ctas p { min-height: 180px; } }
@media only screen and (max-width: 720px)  { .home-ctas p { min-height: 0; } }



/********************************************************************************************

Employee BIO block boxes - Displays over two rows of employees when the bio button is clicked

*********************************************************************************************/ 

.bio-box {
  position: absolute;
  height: 800px;
  width: 1200px;
  z-index: 8;
  display: none;
}

.orange-bio {
   background-color: #f6821f;
}

.bio-box img {
  position: relative;
  left: -72px;
}

div#blocks-em p.em-title {
  font-family: 'Century Gothic Bold';
  position: relative;
  left: 0px;
  top: 0px;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
}

div#blocks-em .bio-box hr {
  width: 50%;
  margin-top: 10px;
}

div#blocks-em p.bio-dec {
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: none;
}

div#blocks-em p.social-bio {
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 20px;
}

.social-bio i {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 30px;
}

div#blocks-em p.em-title {
  font-family: 'Century Gothic Bold';
  position: relative;
  left: 0px;
  top: 0px;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
}

div#blocks-em p.interview {
  font-family: 'Century Gothic Bold';
  position: relative;
  left: 0px;
  top: 0px;
  margin: 0 auto;
  text-align: left;
  font-size: 40px;
  padding-top: 20px;
  display: inline-block;
}

div#blocks-em .bio-box .interview-con {
  display: block;
}

div#blocks-em div.questions {
  vertical-align: middle;
  position: relative;
}

div#blocks-em .bio-box .interview-con hr {
  margin-top: 0;
  display: inline-block;
  margin-left: 20px;
  width: 80%;
}

div#blocks-em .questions p {
  position: relative;
  left: 0;
  top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: none;
}

div#blocks-em .questions strong {
  font-size: 17px;
  padding-bottom: 0px;
  display: block;
}

.social-bio a {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;

}

a.close-bio {
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
  display: block;
  margin-top: 5px;
}



@media only screen and (max-width: 1200px)  { 
  .bio-box { width: 800px; } 
  div#blocks-em p.em-title { font-size: 30px; }
  div#blocks-em p.bio-dec { padding-top: 10px; }
  div#blocks-em p.social-bio { padding-top: 0px; }
  div#blocks-em p.interview { padding-top: 0px; }
  div#blocks-em .bio-box .interview-con hr {   width: 65%; }
  div#blocks-em div.questions div { padding-left: 20px; padding-right: 10px; }
}

@media only screen and (max-width: 800px)  { 
  .bio-box { width: 400px;   height: 1600px; } 
  div#blocks-em .bio-intro-div { width: 100%; display: block; }
  .bio-box img { width: 400px; }
  div#blocks-em .bio-intro-div .grid-4 { width: 100%; display: block; }
  div#blocks-em .bio-intro-div .grid-8 { width: 100%; display: block; padding-left: 0; padding-right: 0; }
  div#blocks-em p.em-title { font-size: 25px; }
  div#blocks-em p.interview { text-align: center; display: block; padding-top: 30px; }
  div#blocks-em .bio-box .interview-con hr { margin-left: 0; width: 100%; }
  div#blocks-em div.questions { padding-left: 0; padding-right: 0; }
  div#blocks-em .bio-box .questions .grid-6 { width: 100%; }
  div#blocks-em .questions p { padding-top: 10px; }
}


/********************************************************************************************* 

Makes any iFrame responsive. (Google Maps, Youtube, etc...) Wrap the iFrame in a div with the class of videoWrapper

*********************************************************************************************/  

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none !important;
}

/*****************************************************************************************/  



.contact-gavin {
  margin: 9% auto;
  width: 45%;
}

@media only screen and (max-width: 1516px)  { .contact-gavin { margin: 2% auto 0% auto; width: 45%; } }

.contact-gavin p {
  color: #f5821f;
  text-transform: uppercase;
  font-size: 25px;
}


footer {
	background-color: #f5821f;
	padding-top: 20px;
	padding-bottom: 20px;
}


h4 {
  text-transform: uppercase;
  text-align: left;
  font-weight: normal;
  font-family: 'Century Gothic Bold';
  font-size: 23px;
  color: #fff;
  border-bottom: 2px solid #fff;
  width: 90%;
}

.blog-feed p {
  color: #fff;
}


.blog-feed a {
  color: #fff;
  display: block;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 30px;
}

.blog-feed p span {
  display: block;
  font-size: 15px;
  color: #fff;
  padding-top: 5px;
}


.blog-feed strong {
	font-family: 'Century Gothic Bold';
}

.blog-feed a:hover {
  text-decoration: underline;
}


footer a {
	color: #fff !important;
}

footer a:visited {
	color: #fff !important;
}

.social a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.round {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  border: 2px solid;
  margin-right: 20px;
}

.social i {
  line-height: inherit;
  font-size: 25px;
}


@media only screen and (max-width: 1220px)  { .grid-4.logo-foot { width: 25%; } .social { width: 41%; } }

@media only screen and (max-width: 1130px)  { .contact-gavin { margin: 0% auto 0% auto; width: 70%; } .contact-gavin p { font-size: 20px; } }

@media only screen and (max-width: 1045px)  { .round { width: 40px; height: 40px; line-height: 40px; margin-right: 5px; } }

@media only screen and (max-width: 970px)  { footer .grid-4 { width: 100% !important; } .f-gav { margin-top: 0%; text-align: center; } .contact-gavin{ margin: -15px auto 0% auto; } }


@media only screen and (max-width: 880px)  { .contact-gavin p { font-size: 16px; } .contact-gavin { margin: -5px auto 0% auto; } }

@media only screen and (max-width: 800px)  { .contact-home .grid-6 { width: 100%; } .contact-gavin { margin: 50px auto 50px auto; width: 90%; } }





.second-footer p {
  text-align: center;
  text-transform: uppercase;
  color: #f5821f;
}


div#introduction {
  height: 30em;
  position: relative;
  background-image: url('../img/staff.jpg');
  padding-top: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}


div#introduction h1 {
    margin: 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Century Gothic Bold';
    font-size: 85px;
  }


#introduction h1 span {
  display: block;
  font-size: 25px;
}


.about-the-team p {
  font-size: 30px;
  padding: 0 130px;
  color: #888182;
  text-align: center;
  opacity: 0;
}

.about-the-team hr {
  margin-top: 24px;
  color: #d4cbcd;
  background-color: #d4cbcd;
  width: 260px;
  height: 8px;
  opacity: 0;
}

.about-the-team {
  padding-top: 100px;
  padding-bottom: 100px;
}


.team #driving-action {
  border-top: none;
}

.team {
  margin-top: 100px;
}

.team p span {
  color: #f5821f;
  font-weight: bold;
}

.team p {
  margin-bottom: 70px;
}


div#project {
  height: 35em;
  position: relative;
  padding-top: 50px;
}

div.yellow {
  background-color: #FBD81A;
}


div#project h1 {
    margin: 0;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Century Gothic Bold';
    font-size: 85px;
    position: relative;
  }


div#project h1:after {
  content: '';
  position: relative;
  height: 5px;
  width: 430px;
  background-color: #fff;
  display: block;
  margin: 0 auto;
  margin-top: 35px;
}

div#project p {
  color: #fff;
  text-align: center;
  max-width: 800px;
  position: relative;
  margin: 0 auto;
  font-family: 'Century Gothic Bold';
  padding-top: 40px;
  font-size: 20px;
}

.icon svg {
  width: 100%;
  height: auto;
}

.icon {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  float: left;
  margin-left: 30px;
  margin-right: 30px;
  border: 2px solid #fff;
  padding: 10px;
  display: none;
}

.icon-con {
  position: relative;
  margin: 0 auto;
  width: 450px;
  margin-top: 50px;
}

.lite-gray {
  background-color: #B7B7B9;
  padding-top: 30px;
  padding-bottom: 30px;

}

.small-wrap-left {
  max-width: 500px;
  margin: 0 0 0 auto;
  padding-right: 40px;
  color: #fff;
}

.small-wrap-right {
  max-width: 500px;
  margin: 0 auto 0 0;
  padding-left: 40px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.lite-gray h2 {
  font-family: 'Century Gothic Bold';
  text-transform: uppercase;
  font-size: 40px;
}

.lite-gray h2:after {
  content: '';
  position: relative;
  height: 5px;
  width: 430px;
  background-color: #fff;
  display: block;
  margin-top: 10px;
}

.lite-gray ul {
  font-family: 'Century Gothic Bold';
  text-transform: uppercase;
  font-size: 19px;
  list-style: outside;
}

.small-wrap-right p {
  padding-top: 40px;
}


.big-book {
  height: 60em;
  background-image: url('../img/trespa-book.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.project-h3 {
  color: #FBD81A;
  text-align: center;
  font-size: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
    font-family: 'Century Gothic Bold';
  text-transform: uppercase;
  padding-left: 50px;
  padding-right: 50px;
}


.about-the-project p {
  color: #231F20;
  font-size: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}



.ipad-display {
  height: 60em;
  background-image: url('../img/trespa-ipad.png');
  background-position: 1160px;
  background-size: 65%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/********************************************************************************************* 

2.  960px 

*********************************************************************************************/  

@media only screen and (min-width: 960px) and (max-width: 1199px) {
    #video h2 {
    font-size: 30px;
    line-height: 48px;
    height: 51px;
    margin: 20px 0;
    padding: 0 14px;
}
div#driving-action p {
    padding: 0 60px;
}
}
/********************************************************************************************* 

3.  720px 

*********************************************************************************************/ 

@media only screen and (min-width: 720px) and (max-width: 959px) {
    header .grid-6 {
    width: 100%;
}
header h1, .f-gav {
    margin-top: -14px;
}
nav ul {
    margin: 0 30px 0 0;
}
nav ul li {
    margin-left: 24px;
}
#video h2 {
    font-size: 22px;
    line-height: 36px;
    height: 38px;
    margin: 16px 0;
    padding: 0 10px;
}
div#driving-action p {
    padding: 0 60px;
}
}
/********************************************************************************************* 

4.  lt 720px 

*********************************************************************************************/ 

@media only screen and (max-width: 719px) {
    .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16 {
    width: 100%;
}
header h1, .f-gav {
    margin-top: -14px;
    padding-left: 15px;
}
nav ul {
    margin: 0 30px 0 0;
}
nav ul li {
    margin-left: 24px;
}
#video {
    overflow: hidden;
}
video {
    position: relative;
    left: -50%;
    width: 200%;
}
#video h2 {
    font-size: 16px;
    height: auto;
    line-height: normal;
    padding: 10px;
    margin: 16px 0;
}
#video h2 + h2 {
    margin: 0;
}
#video h2 br {
    display: inline;
}
div#driving-action {
    border-width: 3px;
}
div#driving-action p {
    padding: 0 30px;
    font-size: 18px;
    line-height: 27px;
}
div.halfcircle {
    height: 35px;
    width: 70px;
    margin: -5px auto 0 auto;
    border-radius: 0 0 70px 70px;
    -moz-border-radius: 0 0 70px 70px;
    -webkit-border-radius: 0 0 70px 70px;
    background: #fff;
}
div.circle {
    height: 60px;
    width: 60px;
    margin: -65px auto 0 auto;
    border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    background: #f5821f;
}
div.circle i {
    color: #fff;
    font-size: 30px;
}
}
@media only screen and (max-width: 470px) {
    header, #topnav {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
#topnav {
    padding-bottom: 0;
    height: auto;
}
header h1.grid-6, nav.grid-6, nav.grid-6 ul {
    float: none;
    padding-left: 0;
    display: block;
}

header h1.grid-6 {
  margin-top: 60px !important;
}


.f-gav {
    float: none;
    padding-left: 15px;
    display: block;
}

nav ul {
    margin: 10px 0 0 0;
}
nav ul li {
    float: none;
    display: inline;
    margin-left: 9px;
}
nav ul li a {
    font-size: 13px;
}
}
@media only screen and (max-width: 415px) {
    header {
    overflow: hidden;
}
#topnav a.button {
    display: none;
}
header h1, .f-gav {
    margin-top: 72px;
    margin-left: 28px;
    max-width: 384px;
}
header h1 em {
    font-size: 90px;
    line-height: 6px;
    margin-left: -56px;
}
nav ul li span {
    display: none;
}
nav ul li {
    margin-left: 8px;
}
#video h2 {
    font-size: 14px;
}
#video div h2:first-child {
    margin-top: 30px;
}
div#driving-action h2 {
    margin-top: 24px;
}
div#driving-action h2 span {
    font-size: 62px;
}

header h1.grid-6 {
  margin-top: 95px !important;
}
}


@media only screen and (max-width: 423px)  {
.f-gav em {
  font-size: 50px;
}

}

@media only screen and (max-width: 400px)  {
	.f-gav {
  margin-left: 0px;
}
.f-gav em {
  font-size: 45px;
}

.round {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 5px;
}

.social i {
  line-height: inherit;
  font-size: 15px;
}

nav ul li {
  margin-left: 4px;
}

	}
